.menu-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #414042;
  cursor: pointer;
  background-color: white;
  border-width: 2px;
  z-index: 0;
  font-size: 2rem;
  transition: left 0.7s 0.1s, top 0.7s 0.1s, right 0.7s 0.1s, bottom 0.7s 0.1s, border-width 0.7s, z-index 0.7s 0.1s, color 0.0s 0.7s, text-shadow 0.0s 0.7s;
}

.menu-item.text-position-top-left {
  align-items: flex-start;
  justify-content: left;
  padding: 30px;
}

.menu-item:hover {
  border-width: 10px;
}

.menu-item.selected {
  transition: left 0.7s, top 0.7s, right 0.7s, bottom 0.7s, border-width 0.7s;
  left: 0% !important;
  top: 0% !important;
  right: 0% !important;
  bottom: 0% !important;
  border-width: 0px;
  z-index: 100;
  color: transparent;
  text-shadow: none;
}

.menu-item a, .menu-item a:hover {
  color: inherit;
}
