<ul *ngIf="items.length>0">
  <li *ngFor="let item of items; let i = index">

    <a class="menu-item"
    (click)="selectItem(item)"
       [class.selected]="getClass('0x001', item, i)">{{item.name}}</a>

    <i class="material-icons collapse-icon"
       (click)="onMenuCollapse(item, i)"
       [ngClass]="{'in': item.isCollapsed}"
       *ngIf="item.children.length > 0">&#xE316;</i>

    <div class="card-block card-header sub-panel collapse" [ngClass]="{'in': item.isCollapsed}">

      <menu-item [items]="item.children"></menu-item>

    </div>
  </li>
</ul>
