
<!--
<ul *ngIf="items.length>0" materialize="tabs" class="tabs">
  <li class="tab col s3" *ngFor="let item of items; let i = index">
    <a class="menu-item"
       routerLink={{item.path}}
       [class.selected]="getClass('0x001', item, i)">{{item.name}}</a>
  </li>
</ul>
-->



<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li *ngFor="let item of items; let i = index">
    <a class="menu-item"
       href={{item.path}}
       [class.selected]="getClass('0x001', item, i)">{{item.name}}</a>
  </li>
</ul>
<ul class="side-nav" id="mobile-demo">
</ul>
