.menu-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  cursor: pointer;
  background-color: white;
  border-width: 2px;
  z-index: 0;
  font-size: 25px;
  text-shadow: 1px 1px #888888;
  transition: left 0.7s 1.5s, top 0.7s 1.5s, right 0.7s 1.5s, bottom 0.7s 1.5s, border-width 0.7s, z-index 0.7s 1.5s;
}

.menu-item:hover {
  border-width: 20px;
}

.menu-item.selected {
  transition: left 0.7s, top 0.7s, right 0.7s, bottom 0.7s, border-width 0.7s;
  left: 0% !important;
  top: 0% !important;
  right: 0% !important;
  bottom: 0% !important;
  border-width: 0px;
  z-index: 100;
}
