.menu-item {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(165, 165, 165);
  display: inline-block;
  transition: 0.3s
}
ul {
  padding-left: 20px;
}

ul li{
  float: none;
}

.menu-item:hover, .offcanvas a:focus, .menu-item.selected {
  color: #f1f1f1;
}

.sub-panel {
  margin-left: 10px;
  border-left: 4px solid #d58b52;
}

.collapse-icon {
  float: right;
  color: rgb(165, 165, 165);
  font-size: 35px;
  font-weight: 100;
  margin-right: 26px;
  margin-top: 4px;
  cursor: pointer;
  transition: ease all 320ms;
}
.collapse-icon.in {
  transform: rotate(180deg);
}
.collapse {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  -webkit-transition: opacity 1000ms, visibility 1000ms !important;
  transition: opacity 1000ms, visibility 1000ms !important;
}
.collapse.in {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  animation: fade 1s !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
