<div class="footer">
  <div>
    <img class="logo-img" src="/src/app/img/dynamikfabrikken/dynamik_fabrikken_logo.png" alt="Dynamikfabrikken" /><br/>
    <a href="mailto:{{umbpagegeneral?.CompanyEmail}}">{{umbpagegeneral?.CompanyEmail}}</a><br />
    <a href="tel: 26329300">Tlf. 26329300</a><br />

    <div class="footer-social-links">
      <a href="#"><i class="mdi mdi-facebook"></i></a>
      <a href="#"><i class="mdi mdi-linkedin"></i></a>
      <a href="#"><i class="mdi mdi-instagram"></i></a>
      <a href="#"><i class="mdi mdi-twitter"></i></a>
    </div>
  </div>
</div>
