<div class="paper-content" [@wrapper]="state">
  <div *ngIf="loaded">
    <!--
    <div class="container">
      <h2>{{umbpage?.name}}</h2>
    </div>-->
    <div [innerHTML]="contentGrid | safeHtml"></div>
    <div [innerHTML]="umbpage?.contentBody | safeHtml"></div>
    <!--
    <img src="{{umbpage?.contentImages[0].croppedUrl}}" alt="">
    -->

    <!-- fake image -->
    <div imageLazyLoadArea>
      <div *ngFor="let img of imgs" class="image-container">
        <div class="spinner"></div>
        <IMG imageLazyLoadItem={{img?.croppedUrl}} alt={{img?.alt}} class="image resposive"/>
      </div>
    </div>
  </div>
  <div class="loader centered" *ngIf="!loaded"><div class="loader-inner ball-scale"><div></div></div></div>
</div>
