.content{
  display:none;
}

/* content */
.content {
    position: absolute;
    width: 90%;
    overflow: hidden;
    left: 50%;
    margin-left: -45%;
    text-align: center;
}

.content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#frontpagecontent {
    display: block;
    z-index: 100;
    width: 50%;
    margin-left: -50%;
    z-index: 10;
    cursor: default;
    height: 100%;
    overflow-y: scroll;

}

.itemlocked .content {
    width: 100%;
    left: 0;
    margin-left: auto;
    min-height: 100%;
}

.contenttop {
    padding: 0 0 3rem 0;
}

.contenttext {
    margin-bottom: 3rem;
}

.contenttext img {
    margin: auto;
    margin-bottom: 2rem
}
