<div class="paper-content" [@wrapper]="state">
  <div *ngIf="loaded">
    <DynamicComponent
      [componentTemplate]='contentGrid'
      [componentModules]="extraModules">
    </DynamicComponent>
    <!-- wILL ADD FORM STUFF TO THIS CONTAINER AND MOVE INTO HTML STRING. nOT WORKING AND NOT BEST CASE.
    <div id="tempContainer" [hidden]='true'>
      <app-form></app-form>
    </div>
    -->
  </div>
  <div class="loader centered" *ngIf="!loaded"><div class="loader-inner ball-scale"><div></div></div></div>
</div>
