.paper-content{
  background-color: #fff;
  min-height: 100%;
  color: #1c1d22;
}
.paper-content .container {
    max-width: 100%;
}

.paper-content .container img {
    max-width: 100% !important;
}

/* main content */

main {
  padding-left: 76px;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 0;
  }
}
