.paper-content{
  background-color: transparent;
}
.paper-content .container {
  max-width: 100%;
}

.paper-content .container img {
  max-width: 100% !important;
}

header {
  background: #2bbbad;
  padding: 10px 20px 10px 140px;
}

header h1 {
  color: #fff;
}


/* main content */

main {
  padding-left: 76px;
  clear: both;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 0;
  }
}
