body::-webkit-scrollbar {
    display: none;
    width: 0;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
}

body::-webkit-scrollbar {
    display: block;
    width: 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .h1, .h2, .h3, .h4, .h5, .h6, .p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}



/* dynnamikfabrikken style */
.link.link--page.menu-item:nth-child(1){
  background-image: url('/src/app/css/dynamikfabrikken_velkommen.png'), url(http://dynamikfabrikken.com/img/bg.png);
  background-repeat: no-repeat, repeat;
  background-size: 80%, auto;
  background-position: right bottom;
}

.link.link--page.menu-item:nth-child(2){
  background-image: url(''), url(http://dynamikfabrikken.com/img/bg.png);
  background-repeat: no-repeat, repeat;
  background-size: 40%, auto;
  background-position: center center;
}

.link.link--page.menu-item:nth-child(3){
  background-image: url(''), url(http://dynamikfabrikken.com/img/bg.png);
  background-repeat: no-repeat, repeat;
  background-size: 80%, auto;
  background-position: center bottom;
}

.link.link--page.menu-item:nth-child(4){
  background-image: url('/src/app/img/dynamikfabrikken/dynamikfabrikken_truck_small.png'), url(http://dynamikfabrikken.com/img/bg.png);
  background-repeat: no-repeat, repeat;
  background-size: 40%, auto;
  background-position: right bottom;
}

.link.link--page.menu-item:nth-child(5){
  background-image: url(''), url(http://dynamikfabrikken.com/img/bg.png);
  background-repeat: no-repeat, repeat;
  background-size: 80%, auto;
  background-position: center bottom;
}
