body::-webkit-scrollbar {
    display: none;
    width: 0;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
}

body::-webkit-scrollbar {
    display: block;
    width: 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .h1, .h2, .h3, .h4, .h5, .h6, .p {
	margin: 0;
	padding: 0;
	border: 0;
  font-weight: 300;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}


/* dynnamikfabrikken style */
dynamice-component .menu-item{
  padding: 30px;
}

.menu-item a,
.menu-item a:hover,
header h1 {
  color: #e57200 !important;
  font-weight: 400;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 3rem;
}

.menu-item p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.link.link--page.menu-item{
  background-repeat: repeat;
}

.menu-item img{
  width: 60%;
  left: 50%;
  margin-left: -30%;
  position: absolute;
  bottom: 0;
}

main{
  background-repeat: repeat;
  font-weight: 300;
}

header{
  padding: 30px;
}

/*header h1 styling same as menu items a*/


main p {

}

main h2 {
  font-size: 2rem;
  font-style: italic;
  position: relative;
  top: 23px;
}

main h3 {
  font-weight:400;
  font-size: 2rem;
}
