
<!--
<header>
  <img src="{{umbpagegeneral?.MainLogo}}" alt="{{umbpagegeneral?.CompanyName}}" />
</header>
-->

<!--
<nav class="top-nav">
  <div class="container">
      <div class="row">
        <div class="col s12">
            <menu-item [items]="menuItems"></menu-item>
        </div>
    </div>
  </div>
</nav>
-->

<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <a href="#" materialize="sidenav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <menu-item [items]="menuItems"></menu-item>
  </div>
</nav>
