<div class="fixed-sidebar">
  <ul>
    <li><a (click)="onOpenNavbar('MENU')" [class.selected]="getClass() == 'MENU'"><i class="material-icons">&#xE5D2;</i><span>Menu</span></a></li>
    <li><a (click)="onOpenNavbar('SEARCH')" [class.selected]="getClass() == 'SEARCH'"><i class="material-icons">&#xE8B6;</i><span>Search</span></a></li>
  </ul>
</div>
<nav class="sidenav" [style.width]="getWidth()">
  <a class="closebtn" (click)="is_navbar_opened = false">&times;</a>
  <menu-item [items]="menuItems"></menu-item>
</nav>
