/* colors */

h1, h2, h3, h4, h5, h6, p, a, span, .text, .ellipsis {
    color: #fff;
}
.loading {background:#fff;}
.pageclostbtn {background: transparent; color: #333;}

header .headercontent {background: #333;}
.footerbtn {background: #333; color: #fff;}
footer {background: #fff;}
footer h1, footer .h1, footer p, footer .p {color: #333;}
/*item 1 large on left*/
.itemlocked:nth-child(1),
.itemself:nth-child(1),
.item:nth-child(1) {background: #333;}
.itemlocked:nth-child(1) h1,
.itemself:nth-child(1) h1,
.item:nth-child(1) h1,
.itemlocked:nth-child(1) p,
.itemself:nth-child(1) p,
.item:nth-child(1) p,
.itemlocked:nth-child(1) .h1,
.itemself:nth-child(1) .h1,
.item:nth-child(1) .h1 {color: #fff;}
/*item 2*/
.itemlocked:nth-child(2),
.itemself:nth-child(2),
.item:nth-child(2) {background: #b79266;}
.itemlocked:nth-child(2) h1,
.itemself:nth-child(2) h1,
.item:nth-child(2) h1,
.itemlocked:nth-child(2) p,
.itemself:nth-child(2) p,
.item:nth-child(2) p,
.itemlocked:nth-child(2) .h1,
.itemself:nth-child(2) .h1,
.item:nth-child(2) .h1 {color: #333;}
/*item 3*/
.itemlocked:nth-child(3),
.itemself:nth-child(3),
.item:nth-child(3) {background: #b3b3b4;}
.itemlocked:nth-child(3) h1,
.itemself:nth-child(3) h1,
.item:nth-child(3) h1,
.itemlocked:nth-child(3) p,
.itemself:nth-child(3) p,
.item:nth-child(3) p,
.itemlocked:nth-child(3) .h1,
.itemself:nth-child(3) .h1,
.item:nth-child(3) .h1 {color: #333;}
/*item 4 AB47BC*/
.itemlocked:nth-child(4),
.itemself:nth-child(4),
.item:nth-child(4) {background: #333;}
.itemlocked:nth-child(4) h1,
.itemself:nth-child(4) h1,
.item:nth-child(4) h1,
.itemlocked:nth-child(4) p,
.itemself:nth-child(4) p,
.item:nth-child(4) p,
.itemlocked:nth-child(4) .h1,
.itemself:nth-child(4) .h1,
.item:nth-child(4) .h1 {color: #fff;}
/*item 5*/
.itemlocked:nth-child(5),
.itemself:nth-child(5),
.item:nth-child(5) {background: #b348ab;}
.itemlocked:nth-child(5) h1,
.itemself:nth-child(5) h1,
.item:nth-child(5) h1,
.itemlocked:nth-child(5) p,
.itemself:nth-child(5) p,
.item:nth-child(5) p,
.itemlocked:nth-child(5) .h1,
.itemself:nth-child(5) .h1,
.item:nth-child(5) .h1 {color: #333;}

/* border colors */
.border {background: #333;}

/* fixe while content is hardcoded on index-html */
.content {
    display:none;
}
.open .content,
.itemlocked .content {
    display: block;
}

/*
https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
http://codepen.io/SitePoint/pen/EVmwjZ
*/

/* reste stuff */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  transition: all 1s ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .h1, .h2, .h3, .h4, .h5, .h6, .p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
  font-weight: normal;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.maximgwidth {
    max-width: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, .h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
}

input, textarea {
    border: none;
    box-sizing: border-box;
    margin: 0;
    color: #fff !important;
    background: transparent;
    border-bottom: 2px solid;
    font-size: 2.5rem;
    text-align: center;
    max-width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #fff !important;
}

textarea,
input[type="search"] {
    -webkit-appearance: none;
}

nav {
  height: 100%;
}

body.openfoot nav {
  animation:hidenav forwards 1s;
}

@keyframes hidenav {
  0% {opacity:0;}
  100% {opacity:1;}
}

a.item,
a.itemself,
a.itemlocked {
    color: inherit;
}

.item,
.itemself,
.itemlocked {
  float:left;
  overflow:hidden;
  position:absolute;
}

.inner{
  margin: auto;
  cursor:pointer;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity:0;
  animation:fadein 0s forwards 2s;
}

.inner .innerteaser{
  position: absolute;
  margin: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.inner .innerteaser .itemtext {
    position: relative;
    z-index: 99;
}

.inner .innerteaserimg {
    width: 100%;
    height: 100%;
    background: red;
}

.innerpage{
    position: absolute;
    top: 50%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    left: 50%;
    opacity: 0;
}

.itemlocked.open .innerteaser,
.itemself.open .innerteaser,
.item.open .innerteaser,
.itemlocked.open .innerteaserimg,
.itemself.open .innerteaserimg,
.item.open .innerteaserimg{
  display: none;
}

.itemlocked.open .innerpage,
.itemself.open .innerpage,
.item.open .innerpage{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    animation:fadein 0s forwards 1s;
}

/* taking care of content with scroll */
.item.open .innerpage,
.itemlocked {
    overflow: scroll;
    overflow-x: hidden;
}

.item.open .innerpage::-webkit-scrollbar,
.itemlocked::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.item.open .innerpage::-webkit-scrollbar-thumb,
.itemlocked::-webkit-scrollbar-thumb {
    background: #ff0000;
}


/* each item and related animations */
/*item 1*/
.itemlocked:nth-child(1),
.itemself:nth-child(1),
.item:nth-child(1) {
  z-index: 10;
  width: 100%;
  height: 100%;
  animation: slidein1 0.4s forwards 1.2s;
}
.itemlocked:nth-child(1).open,
.item:nth-child(1).open {animation: innershow1 forwards 1s;}
.item:nth-child(1).closed {animation: innerclose1 forwards 1s;}
@keyframes innershow1 {
  0% {height: 100%; width:50%; z-index:10;}
  100% {height:100%; width:100%; z-index:100;}
}
@keyframes innerclose1 {
  0% {height: 100%; width:100%; z-index:100;}
  100% {height:100%; width:50%; z-index:10;}
}
@keyframes slidein1 {
  0% {width:100%;}
  100% {width:50%;}
}

/*item 2*/
.itemself:nth-child(2),
.item:nth-child(2){
  z-index: 9;
  right: 0;
  width: 50%;
  height: 100%;
  animation: slidein2 0.4s forwards 1.4s;
}
.item:nth-child(2).open {animation: innershow2 forwards 1s;}
.item:nth-child(2).closed {animation: innerclose2 forwards 1s;}
@keyframes innershow2 {
  0% {height:50%; width: 50%; z-index: 9;}
  100% {height:100%; width: 100%; z-index: 100;}
}
@keyframes innerclose2 {
  0% {height:100%; width: 100%; z-index: 100;}
  100% {height:50%; width: 50%; z-index: 9;}
}
@keyframes slidein2 {
  0% {height:100%;}
  100% {height:50%;}
}
/* item 3 */
.itemself:nth-child(3),
.item:nth-child(3){
  z-index: 8;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 50%;
  animation: slidein3 0.4s forwards 1.6s;
}
.item:nth-child(3).open {animation: innershow3 forwards 1s;}
.item:nth-child(3).closed {animation: innerclose3 forwards 1s;}
@keyframes innershow3 {
  0% {height:50%; width: 25%; z-index: 8;}
  100% {height:100%; width: 100%; z-index: 100; left: 0;}
}
@keyframes innerclose3 {
  0% {height:100%; width: 100%; z-index: 100; left: 0;}
  100% {height:50%; width: 25%; z-index: 8; right: 0;}
}
@keyframes slidein3 {
  0% {width:50%;}
  100% {width:25%;}
}
/* item 4 */
.itemself:nth-child(4),
.item:nth-child(4){
  z-index: 7;
  right: 0;
  top: 50%;
  width: 25%;
  height: 50%;
  animation: slidein4 0.4s forwards 1.8s;
}
.item:nth-child(4).open {animation: innershow4 forwards 1s;}
.item:nth-child(4).closed {animation: innerclose4 forwards 1s;}
@keyframes innershow4 {
  0% {height:25%; width: 25%; z-index: 7;}
  100% {height:100%; width: 100%; z-index: 100; top: 0;}
}
@keyframes innerclose4 {
  0% {height:100%; width: 100%; z-index: 100; top: 0;}
  100% {height:25%; width: 25%; z-index: 7; right: 0;}
}
@keyframes slidein4 {
  0% {height:50%;}
  100% {height:25%;}
}
/* item 5 */
.itemself:nth-child(5),
.item:nth-child(5){
  z-index: 6;
  left: 75%;
  bottom: 0;
  width: 25%;
  height: 25%;
}
.item:nth-child(5).open {animation: innershow5 forwards 1s;}
.item:nth-child(5).closed {animation: innerclose5 forwards 1s;}
@keyframes innershow5 {
  0% {height:25%; width: 25%; z-index: 6;}
  100% {height:100%; width: 100%; z-index: 100; left: 0;}
}
@keyframes innerclose5 {
  0% {height:100%; width: 100%; z-index: 100; left: 0;}
  100% {height:25%; width: 25%; z-index: 6;}
}
@keyframes slidein5 {
  0% {width:25%;}
  100% {width:12.5%;}
}

/* items video */
.no-video video,
.touch video {
  display: none;
}
.no-video .poster,
.touch .poster {
  display: block !important;
}

 video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
 video.fillWidth {
    width: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    object-fit: cover;
}

/* Borders */
.border {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.itemself > .border:nth-child(3),
.item > .border:nth-child(3) {
  width: 20px;
  height: 100%;
  left: -20px;
}

.itemself > .border:nth-child(4),
.item > .border:nth-child(4) {
  width: 20px;
  height: 100%;
  right: -20px;
}

.itemself > .border:nth-child(5),
.item > .border:nth-child(5) {
  width: 100%;
  height: 20px;
  top: -20px;
}

.itemself > .border:nth-child(6),
.item > .border:nth-child(6) {
  width: 100%;
  height: 20px;
  bottom: -20px;
}

/* Border Animation hover */
.itemself:hover > .border:nth-child(3),
.item:hover > .border:nth-child(3){left: 0;}
.itemself:hover > .border:nth-child(4),
.item:hover > .border:nth-child(4) {right: 0;}
.itemself:hover > .border:nth-child(5),
.item:hover > .border:nth-child(5) {top:0;}
.itemself:hover > .border:nth-child(6),
.item:hover > .border:nth-child(6) {bottom:0;}
/* Border Animation hover when open */
.itemself.open > .border:nth-child(3),
.item.open > .border:nth-child(3) {left: -20px;}
.itemself.open > .border:nth-child(4),
.item.open > .border:nth-child(4) {right: -20px;}
.itemself.open > .border:nth-child(5),
.item.open > .border:nth-child(5) {top: -20px;}
.itemself.open > .border:nth-child(6),
.item.open > .border:nth-child(6) {bottom: -20px;}

/* page close btn */
.pageclostbtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2.5rem;
    padding-top: 9px;
    text-align: center;
}

.pageclostbtn span {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
}

body.openself .pageclostbtn,
body.open .pageclostbtn {
  z-index:102;
  animation:fadein 1.5s forwards 1s;
}

/* header */
header {
    position: absolute;
    z-index: 1;
    left: 50%;
}

header .headercontent {
    position: relative;
    left: -50%;
    padding: 0 40px 10px 40px;
}

header .headercontent img {
    max-width: 100%;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.openfoot footer {
    z-index: 20;
}

footer .footercontent {
    position: absolute;
    margin: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.footerbtn {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 102;
    right: 0px;
    cursor: pointer;
    bottom: 0;
    font-size: 2.5rem;
    text-align: center;
    text-align: center;
    padding-top: 8px;
}

/* Animations general */
@keyframes fadeout {
  0% {opacity:1;}
  99% {height:100%;width:100%;opacity:0;}
  100% {height:0;width:0;opacity:0;}
}
@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes ellipsis {
    0%   {color: transparent; text-shadow: none;}
    1%   {color: #333; text-shadow: .5em 0 0 transparent, 1em 0 0 transparent;}
    26%  {color: black; text-shadow: .5em 0 0 transparent, 1em 0 0 transparent;}
    51%  {color: black; text-shadow: .5em 0 0 black, 1em 0 0 transparent;}
    76%  {color: black; text-shadow: .5em 0 0 black, 1em 0 0 black;}
    100% {color: black; text-shadow: .5em 0 0 black, 1em 0 0 black;}
}
