nav {
     box-shadow: none;
     background: #2bbbad;
}

.navlogo{
  text-align: center;
}

.navbar-fixed {
	position: fixed;
	width: 100% !important;
	height: 100% !important;
	background: white;
	transition: opacity 0.1s;
	z-index: 2;
}

.navbar-fixed.selected {
	opacity: 0;
	transition: opacity 0.1s 0.7s;
	pointer-events: none;
}

.menu-footer {
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  box-shadow: none !important;
  border: 3px solid black;
}

.menu-footer i {
  font-size: 32px;
}

.menu-footer:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.about {
  position: absolute;
  z-index: 2;
  transition: opacity 0.5s 0.7s;
  opacity: 1;
}

.about.invisible {
  opacity: 0;
  transition: opacity 0.0s;
  pointer-events: none;
}

.about .white-part, .about .black-part, .about .white-part-shadow {
  width: 200%;
  height: 200%;
  position: fixed;
  right: 0;
  top: 0;
}

.about .white-part {
  clip-path: polygon(calc(100% - 100px) 0, calc(100% - 100px) 100px, 100% 100px, 100% 100px);
  background-color: white;
  cursor: pointer;
}

.about .white-part-shadow{
  width: 92px;
  height: 92px;
  background-color: black;
  box-shadow: 0 0 5px 10px black;
  opacity: 0.6;
}

.about .black-part {
  clip-path: polygon(calc(100% - 100px) 0, 100% 100px, 100% 100px, 100% 0);
  background-color: rgb(39, 39, 39);
  color: white;
}

.about .black-part .content {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
}
