header {
  height: 75px;
}

.fixed-sidebar {
  position: fixed;
  height: 100%;
  width: 75px;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.fixed-sidebar > ul {
  padding-left: 0px;
}

.fixed-sidebar > ul > li > a {
  cursor: pointer;
}

.fixed-sidebar > ul > li {
  height: 75px;
}

.fixed-sidebar a {
  wi dth: 75px;
  height: 75px;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: rgb(165, 165, 165);
  flex-direction: column;
}

.fixed-sidebar a:hover {
  background-color: rgb(67, 63, 63);
}

.fixed-sidebar a.selected {
  border-left: 4px solid #d58b52;
}

.fixed-sidebar a > span {
  font-size: 20px;
  width: 100%;
}

.fixed-sidebar .material-icons {
  margin-top: 8px;
  font-size: 25px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 75px;
  background-color: #2f2f2f;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0px;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

#menu_tab.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#search_tab.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 90px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
