<div
  class="navbar-fixed"
  [class.selected]="selected_item_info.index_num > -1"
>
    <menu-item
      style="width: 100%;"
      [items]="menuItems"
      [isCollapsed]="is_menutab_opened"
      [selectedItemInfo]="selected_item_info"
      [selectItem]="selectItem"
    ></menu-item>
</div>

<div class="about">
  <div class="white-part" (click)="nativeWindow.openAbout()">
  </div>
  <div class="black-part" (click)="nativeWindow.openAbout()">
    <div class="content">
      Please edit src/app/components/menu/menu-material.component.html for about content change.
    </div>
  </div>
</div>

<div
  class="menu-footer"
  (click)="selectItem({}, -1, false); nativeWindow.closeAbout(); nativeWindow.hideFooter(false); nativeWindow.hideAbout(false);"
>
  X
</div>
