nav {
     box-shadow: none;
     background: #2bbbad;
}

.navlogo{
  text-align: center;
}

.navbar-fixed {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	background: white;
	transition: opacity 0.1s;
	z-index: 2;
}

.navbar-fixed.selected {
	opacity: 0;
	transition: opacity 0.1s 0.7s;
	pointer-events: none;
}

.menu-footer {
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px gray;
  background-color: #cc3399;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
}

.menu-footer:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
