nav {
     box-shadow: none;
     background: #2bbbad;
}

.navlogo{
  text-align: center;
}

.navbar-fixed {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	background: white;
	transition: opacity 0.1s;
	z-index: 2;
}

.navbar-fixed.selected {
	opacity: 0;
	transition: opacity 0.1s 0.7s;
	pointer-events: none;
}

.fixed-footer {
	position: fixed;
	z-index: 1;
}
