.menu-item {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(165, 165, 165);
  display: inline-block;
  transition: 0.3s
}
ul {
  padding-left: 20px;
}
.menu-item:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.collapse-icon {
  float: right;
  color: rgb(165, 165, 165);
  font-size: 37px;
  font-weight: 100;
  margin-right: 26px;
  margin-top: 4px;
  cursor: pointer;
}
