<div class="navbar-fixed">
    <nav class="nav-wrapper">
        <ul id="slide-out" class="side-nav">
          <li class="navlogo">
            <img src="{{umbpagegeneral?.MainLogo}}" alt="{{umbpagegeneral?.CompanyName}}" />
          </li>

          <!--
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            -->
            <menu-item style="width: 100%;" [items]="menuItems" [isCollapsed]="is_menutab_opened"></menu-item>
        </ul>
        <ul>
            <li>
                <a href="javascript:void(0);" class="open-close-menu" data-activates="slide-out"><i class="material-icons">menu</i></a>
            </li>
        </ul>

    </nav>
</div>

<header>
        <h1>
          {{pagename}}
        </h1>
</header>
